<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
    <body>

        <%- include('../partials/indexNav.ejs') %>

        <div class="container-fluid firstdiv text-center mb-4">
            <div class="row">
                <div class="col-2 offset-1">
                    <img class="profileImage" src="<%= sendData.profilePath%>"><br><br>
                    <pre class="font-weight-bold"><%= sendData.bio%></pre>
                </div>
                <div class="col-8 row">
                    <h2 class="display-4 col-4" id="followers"><span class=" display-3 font-weight-bold"><%= sendData.followers%> </span><br>Followers</h2>
                    <h2 class="display-4 col-4" id="following"><span class=" display-3 font-weight-bold"><%= sendData.following%> </span><br>Following</h2>
                    <h2 class="display-4 col-2" id="posts"><span class=" display-3 font-weight-bold"><%= sendData.totalposts%> </span><br>Posts</h2>
                </div>
                <div class="col-10 offset-1 border border-secondary mt-1"></div>
                <div class="col-8 offset-2 border border-secondary mt-1">
                    <div class="row border border-secondary">
                        <h3 class="col-4 offset-2 font-weight-bolder display-5">Name:</h3> <p class="col-6 display-5 text-info"><%= sendData.name%></p>
                    </div>
                    <div class="row border border-secondary">
                        <h3 class="col-4 offset-2 font-weight-bolder display-5">Gender:</h3> <p class="col-6 display-5 text-info"><%= sendData.gender%></p>
                    </div>
                    <div class="row border border-secondary">
                        <h3 class="col-6 offset-1 font-weight-bolder display-5">Account Created on:</h3> <p class="col-4 display-5 text-info"><%= sendData.accountCreated%></p>
                    </div>
                    <div class="row border border-secondary">
                        <h3 class="col-6 offset-1 font-weight-bolder display-5">Date of Birth:</h3> <p class="col-4 display-5 text-info"><%= sendData.dob%></p>
                    </div>
                    <div class="row border border-secondary">
                        <div class="col-6 offset-3">
                            <h3 class="font-weight-bolder text-primary">
                                Intrested Tags...
                            </h3>
                        <div>
                        <div class="my-4 row">
                            <% sendData.interestedTag.forEach(element => { %>
                            <span class="pills m-1"><%= element %></span>
                            <% } )%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>


        <script src="/Js/profile.js"></script>
    </body>
</html>